
/* Your CSS Code here. */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
    width: 100%;
    justify-content: space-between;
}
.box:nth-child(even){
    background-color: yellow;
}
.box:nth-child(odd){
    background-color:green;
}
.box{
    height: 250px;
    width: 20%;
}
